.login-box {
  @apply -translate-y-1/2 w-[360px] left-1/2 top-1/2 absolute;

  margin-left: -180px;

  .sms-send-btn {
    @apply relative cursor-pointer h-[32px] text-[#E4C8A1] bg-[#333] text-[14px];

    left: unset;

    &.disabled {
      border: none;
      cursor: not-allowed;
    }
  }
}

.login-title {
  @apply flex items-center justify-center text-white text-[24px] font-semibold gap-3 pb-[50px];
}

.login-submit {
  @apply cursor-pointer w-full h-[32px] font-semibold bg-[#E4C8A1] text-black flex items-center justify-center text-[16px];

  &:hover {
    color: #000;
    background-color: #cfb591;
  }

  &:active {
    color: #000;
    background-color: #b9a07d;
  }
}

.login-tabs {
  @apply h-[40px] w-[201px] mx-auto flex select-none;

  .tab-item {
    @apply relative cursor-pointer flex flex-1 text-[#fff] items-center justify-center text-[16px];

    &.active {
      @apply items-start font-semibold text-[18px] text-[#E4C8A1];

      &::before {
        content: '';

        @apply absolute w-[24px] h-[4px] rounded-sm bg-[#E4C8A1] bottom-0;
      }
    }

    &:hover {
      opacity: .7;
    }
  }
}

.arco-btn-primary.arco-btn-loading,
.arco-btn-primary[type='button'].arco-btn-loading,
.arco-btn-primary[type='submit'].arco-btn-loading {
  color: #000;
  background-color: #E4C8A1;
}

.login-service {
  @apply select-none flex items-center w-full mt-[18px] text-[#fff] text-[14px];

  a {
    @apply text-[#E4C8A1]
  }
}

.custom-input-wrapper {
  @apply w-full;

  margin-bottom: 24px;
  border: none;
  background-color: #333;
  height: 32px;

  .svg-icon {
    color: #fff;
  }

  input {
    height: 32px;
    color: #fff;
    caret-color: #fff;

    &::placeholder {
      color: #b8bfc3;
    }
  }

  input:-internal-autofill-previewed,
  input:-internal-autofill-selected {
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-out 0.5s;
  }

  &:focus-within {
    border-color: transparent;

    .svg-icon {
      color: #fff !important;
    }
  }
}

.custom-field-error-span {
  position: absolute;
  color: var(--custom-error-color);
  font-size: 11px;
  bottom: -1.25rem;
  display: none;
}

.custom-field-error {
  border-color: var(--custom-error-color) !important;

  .el-input__wrapper {
    box-shadow: none !important;
  }

  .custom-field-error-span {
    display: inline-block;
  }

  .svg-icon {
    color: #fff !important;
  }
}
